@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Regular.ttf");
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-Bold.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "Yuji Syuku";
    src: url("../fonts/YujiSyuku-Regular.ttf");
}

html {
    background-color: rgb(242, 253, 248);
    
}

h1 {
    height: 12vh;
    color: black;
    background-color: white;
    font-family: "Yuji Syuku";
    font-size: 5rem;
    display: flex;
    padding-bottom: 1.5vh;
    align-items: center;
    justify-content: center;
    border: solid 4px black;
    border-radius: 3px;
    box-shadow: 0px 2px 5px rgb(161, 159, 159);
}

nav {
    height: auto;
    width: auto;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

img {
    width: 100%;
    height: auto;
    border: double 3px black;
}

p {
    font-family: "Noto Sans";
    font-size: 1.05rem;
}

ul {
    display: flex;
    gap: 10vw;
    justify-content: center;
    list-style: none;
    font-size: 1.5rem;
}

li {
    background-color: white;
    border: solid 3px black;
    padding: 10px 33px 10px 33px;
    font-family: "Noto Sans", sans-serif;
    
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
